@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
  --theme:#20062e;
  --blue:#18b2de;
  --white:#fff;
  --grey:#d7d7d7;
  --purple-grey:#8f8269;
}
body {
  margin: 0;
  font-family: "Inter",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme);
  color: var(--white);
}

input {
  font-family: "Inter",sans-serif;
}

.input-wrapper{
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
}

.input-wrapper h1{
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}
.podcast-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

}

a{
  text-decoration: none;
  
}
.podcast-title-heading{
text-align: left !important;
width: 100%;

}

.podcast-description{
  color: var(--purple-grey);
  text-align: left;
  width: 100%;
}